<footer>
  <ul>
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/o-nas">O nás</a>
    </li>
    <li>
      <a href="/kontakt">Kontakt</a>
    </li>
    <li>
      <a href="/kde-nas-najdete">Kde nás najdete?</a>
    </li>
    <li>
      <a href="/faqs">FAQs</a>
    </li>
    <li>
      <a class="jizBrzy" href="#">E-shop</a>
    </li>
    <li>
      <a href="https://www.instagram.com/jztferments/">Instagram</a>
    </li>
    <li>
      <a href="https://www.facebook.com/JZTFerments/">Facebook</a>
    </li>
  </ul>
  <span>Copyright © 2020 JZT Ferments s.r.o.</span>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/app.js?a=4"></script>
</footer>
