<footer>
  <ul>
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/o-nas">O nás</a>
    </li>
    <li>
      <a href="/kontakt">Kontakt</a>
    </li>
    <li>
      <a href="/kde-nas-najdete">Kde nás najdete?</a>
    </li>
    <li>
      <a href="/faqs">FAQs</a>
    </li>
    <li>
      <a class="jizBrzy" href="https://eshop.jztferments.cz/">E-shop</a>
    </li>
    <li>
      <a href="https://www.instagram.com/jztferments/">Instagram</a>
    </li>
    <li>
      <a href="https://www.facebook.com/JZTFerments/">Facebook</a>
    </li>
  </ul>
  <span>Copyright © 2020 JZT Ferments s.r.o.</span>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=cs&theme=white&tracking=1&thirdparty=1&always=1&scrolling=1&hideDetailsBtn=1"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/slick/slick.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/app.js?a=5"></script>
</footer>
