<div class="mobilniMenu mobilniMenuZavrit">
  <div class="mobileHeader">
    <a href="/">
      <img src="assets/img_optim/logo.png" class="logo" alt="Logo">
    </a>
    <a>
      <img src="assets/img_optim/x.png" class="zavrit" alt="Zavřít">
    </a>
  </div>
  <ul>
    <li>
      <a href="/">Homepage</a>
    </li>
    <li>
      <a href="/o-nas">O nás</a>
    </li>
    <li>
      <a href="/kontakt">Kontakt</a>
    </li>
    <li>
      <a href="/kde-nas-najdete">Kde nás najdete?</a>
    </li>
    <li>
      <a href="/faqs">FAQs</a>
    </li>
    <li>
      <a class="jizBrzy" href="https://eshop.jztferments.cz/">E-shop</a>
    </li>
  </ul>
</div>



<header>
  <div class="desktopHeader">
    <ul class="desktopNav">
      <li>
        <a href="/o-nas">O nás</a>
      </li>
      <li>
        <a href="/kontakt">Kontakt</a>
      </li>
      <li>
        <a href="/kde-nas-najdete">Kde nás najdete?</a>
      </li>
      <li>
        <a href="/">
          <img src="assets/img_optim/logo.png" class="logo" alt="Logo">
        </a>
      </li>
      <li>
        <a href="/faqs">FAQs</a>
      </li>
      <li>
        <a class="jizBrzy" href="https://eshop.jztferments.cz/">E-shop</a>
      </li>
      <li>
        <a href="https://www.instagram.com/jztferments/">
          <img src="assets/img_optim/instagram.png" class="instagramButton" alt="Instagram button">
        </a>
      </li>
    </ul>
    <a href="https://www.instagram.com/jztferments/">
      <img src="assets/img_optim/instagram.png" class="instagramButton instagramButtonMobile" alt="Instagram button">
    </a>
  </div>
  <div class="mobileHeader">
    <a>
      <img src="assets/img_optim/menu.png" class="menuButton" alt="Menu button">
    </a>
    <a href="/">
      <img src="assets/img_optim/logo.png" class="logo" alt="Logo">
    </a>
    <a href="https://www.instagram.com/jztferments/">
      <img src="assets/img_optim/instagram.png" class="instagramButton" alt="Instagram button">
    </a>
  </div>
</header>
