header {
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 100;

  .mobileHeader {
    @media (min-width: 900px) {
      display: none;
    }
  }

  .menuButton {
    width: 25px;
    top: 19px;
    left: 20px;
    position: absolute;
  }

  .desktopHeader {
    display: none;
    width: calc(100% - 50px);
    margin: 0 auto;
    position: relative;
    max-width: 1000px;

    .desktopNav {
      padding: 0;
      margin: 0 auto;
      display: block;
      text-align: center;
      position: relative;
      left: -50px;
      top: 18px;

      li {
        list-style: none;
        margin: 0;
        display: inline-block;
        margin-right: 45px;

        a {
          font-family: AvenirHeavy;
          font-size: 15px;
          color: #808080;

          &:hover {
            color: #000;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (min-width: 900px) {
      display: block;
    }
  }

  .logo {
    width: 36px;
    top: 10px;
    left: calc(50% - 36px/2);
    position: absolute;

    @media (min-width: 900px) {
      width: 40px;
      top: 18px;
      left: 0;
      position: static;
      vertical-align: middle;
    }
  }

  .instagramButton {
    width: 26px;
    top: 17px;
    right: 20px;
    position: absolute;

    @media (min-width: 900px) {
      width: 30px;
      top: 25px;
      right: 0;
      position: static;
      vertical-align: middle;
    }
  }

  @media (min-width: 900px) {
    height: 80px;
  }
}

.instagramButtonMobile {
  @media (min-width: 900px) {
    display: none;
  }
}

.mobilniMenu {
  z-index: 10000;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);

  .mobileHeader {
    .menuButton {
      width: 25px;
      top: 19px;
      left: 20px;
      position: absolute;
    }

    .logo {
      width: 36px;
      top: 10px;
      left: calc(50% - 36px/2);
      position: absolute;
    }

    .zavrit {
      width: 26px;
      top: 17px;
      right: 20px;
      position: absolute;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 85px;

    li {
      list-style: none;
      margin: 30px;

      a {
        font-family: AvenirMedium;
      }
    }
  }
}

.mobilniMenuZavrit {
  display: none;
}
