.homepage {
  background: #FBFBFB;

  @media (min-width: 900px) {
    background: #fff;
  }
}

.jumbotron {
  padding-top: 60px;
  position: relative;

  .jumboTop {
    background: url("../img_optim/pozadi1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    height: 440px;
    text-align: center;
    background-size: 120%;

    .prouzek {
      height: 39px;
      position: absolute;
      bottom: 0px;
      left: -15px;
      width: calc(100% + 30px);
      opacity: 0.8;
      background: #FFFFFF;
      display: none;
      z-index: 0;

      @media (min-width: 900px) {
        display: block;
      }
    }

    .nadpisOuter {
      @media (min-width: 900px) {
        position: relative;
        width: fit-content;
        margin: 0 auto;
      }
    }

    h1 {
      margin: 0 auto;
      font-family: AvenirBlack;
      font-size: 34px;
      color: #000000;
      text-align: center;
      padding-top: 50px;
      margin-bottom: 40px;
      max-width: 400px;
      width: 100%;
      z-index: 1;
      position: relative;

      @media (max-width: 350px) {
        font-size: 32px;
      }

      @media (min-width: 900px) {
        font-size: 50px;
        max-width: none;
        margin-bottom: 55px;
        padding-top: 110px;
      }
    }

    @media (min-width: 900px) {
      max-width: 1000px;
      margin: 0 auto;
      border-radius: 5px;
      background-position: 50% 25%;
      background-size: cover;
      height: 460px;
    }
  }

  .jumboBot {
    width: calc(100% - 30px);
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.14);
    border-radius: 5px;
    position: relative;
    margin-top: -180px;
    padding: 30px 0;
    max-width: 480px;

    ul {
      padding: 0;
      width: calc(100% - 60px);
      margin: 0 auto;

      li {
        list-style: none;
        margin: 0 auto;
        position: relative;
        margin-bottom: 30px;
        width: fit-content;
        width: 100%;

        &:nth-child(2) {
          @media (min-width: 900px) {
            margin: 0 25px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        img {
          position: absolute;
          left: 0;
          max-width: 40px;
          max-height: 42px;
          top: calc(50% - 21px);
        }

        div {
          width: fit-content;
          margin-left: 70px;
          display: block;

          h3 {
            font-family: AvenirHeavy;
            font-size: 18px;
            color: #000000;
            letter-spacing: 0;
            text-align: left;
            margin: 0;
            margin-bottom: 4px;
          }

          p {
            font-family: AvenirMedium;
            font-size: 14px;
            color: #898989;
            letter-spacing: 0;
            text-align: left;
            margin: 0;
          }
        }

        @media (min-width: 900px) {
          margin: 0;
        }
      }

      @media (min-width: 900px) {
        display: flex;
        align-items: center;
      }
    }

    @media (min-width: 900px) {
      max-width: 950px;
      width: calc(100% - 50px);
      padding: 25px 0;
      margin-top: -70px;
    }
  }

  @media (min-width: 900px) {
    padding-top: 80px;
  }
}


.produkty {
  overflow-x: hidden;

  h2 {
    font-family: AvenirMedium;
    font-size: 23px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    margin-top: 70px;
    margin-bottom: 70px;

    @media (min-width: 900px) {
      margin-bottom: 50px;
    }
  }

  .mobileProduktyInner {
    @media (min-width: 900px) {
      display: none;
    }
  }

  .desktopProduktyInner {
    display: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 60px;

    @media (min-width: 900px) {
      display: flex;
    }
  }

  .produktyInner {

    .OG {
      a {
        background: #f1af60;
      }
    }

    .Bergamot {
      a {
        background: #e7bb83;
      }
    }

    .Jahoda {
      a {
        background: #f59764;
      }
    }

    .Marakuja {
      a {
        background: #e6a049;
      }
    }

    .piti {

      .pitiInner {
        background: #FFFFFF;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
        border-radius: 5px;
        width: 220px;

        img {
          height: 145px;
          margin: 0 auto;
          display: block;
          padding-top: 23px;
          margin-bottom: 20px;
        }

        h3 {
          font-family: AvenirMedium;
          font-size: 23px;
          color: #000000;
          letter-spacing: 0;
          text-align: center;
          line-height: 34px;
          margin: 0;
        }

        p {
          font-family: AvenirMedium;
          font-size: 14px;
          color: #747474;
          letter-spacing: 0;
          text-align: center;
          margin: 0;
          margin-top: 5px;
          margin-bottom: 20px;
          margin-left: 10px;
          margin-right: 10px;
        }

        a {
          //background: #F6BA5F;
          //background: #F7CD8D;
          width: 100%;
          padding-top: 9px;
          padding-bottom: 9px;
          font-family: AvenirHeavy;
          font-size: 16px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: center;
          display: block;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          &:hover {
            background: #D87745;
          }
        }
      }
    }
  }
}

.slick-slide {
  margin-left: 10px;
  margin-right: 10px;
}

.slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.reference {
  position: relative;
  padding: 60px 0;
  padding-bottom: 80px;
  margin-top: 70px;
  text-align: center;

  .hvezdicky {
    height: 20px;
    margin: 0 auto;
    display: block;
  }

  h2 {
    font-family: AvenirMedium;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    margin-top: 15px;
  }

  .citaty {
    margin-bottom: 30px;
    text-align: left;

    .citat {
      width: calc(100% - 40px);
      max-width: 360px;
      margin: 0 auto;

      &:first-child {
        margin-bottom: 30px;
        margin-top: 50px;

        @media (min-width: 900px) {
          margin-top: 40px;
        }
      }

      img {
        width: calc(100% - 30px);
        margin: 0 auto;
        display: block;
        z-index: 10;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      }

      .citatText {
        background: #FFFFFF;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
        border-radius: 5px;
        padding-top: 40px;
        position: relative;
        top: -35px;
        z-index: 9;
        padding-bottom: 15px;

        p {
          font-family: AvenirMedium;
          font-size: 14px;
          color: #777777;
          letter-spacing: 0;
          line-height: 23px;
          width: calc(100% - 30px);
          margin: 0 auto;
          margin-top: 13px;
          margin-bottom: 6px;
        }

        span {
          font-family: AvenirBlack;
          font-size: 14px;
          color: #000000;
          letter-spacing: 0;
          line-height: 23px;
          margin-left: 15px;
        }
      }
    }

    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .pozadi {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.delameToPoctive {
  text-align: center;
  margin-top: 50px;

  .delameToPoctiveInner {
    width: calc(100% - 30px);
    margin: 0 auto;

    @media (min-width: 900px) {
      display: inline-block;
      width: 380px;
      vertical-align: middle;
      margin: 0;
      text-align: left;
    }

    @media (min-width: 1100px) {
      width: 475px;
    }
  }

  h2 {
    font-family: AvenirMedium;
    font-size: 23px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    margin: 0;
    margin-bottom: 25px;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  p {
    font-family: AvenirMedium;
    font-size: 14px;
    color: #8D8D8D;
    letter-spacing: 0;
    text-align: center;
    line-height: 27px;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 500px;
    line-height: 24px;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  a {
    font-family: AvenirBlack;
    font-size: 16px;
    color: #D87745;
    letter-spacing: 0;
    text-align: center;
    line-height: 27px;
    text-decoration: underline;
    margin: 0;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  img {
    width: 100%;
    margin-top: 50px;
    max-width: 500px;

    @media (min-width: 900px) {
      display: inline-block;
      width: 400px;
      vertical-align: middle;
      margin: 0;
      margin-left: calc(100% - 390px - 400px);
    }

    @media (min-width: 1100px) {
      margin-left: calc(100% - 480px - 400px);
    }
  }

  @media (min-width: 900px) {
    max-width: 900px;
    width: calc(100% - 50px);
    margin: 0 auto;
    margin-top: 100px;
  }

  @media (min-width: 1100px) {
    max-width: 950px;
  }
}

.kupon {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 70px;

  img {
    width: 192px;
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
  }

  .kuponLabel {
    font-family: AvenirMedium;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 250px;
  }

  .kuponText {
    font-family: AvenirMedium;
    font-size: 21px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 34px;
    margin: 0;
    margin-bottom: 45px;

    span {
      font-family: AvenirBlack;
    }
  }

  .buttonKupon {
    background: #2C2C2C;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 900px) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
