.jumbotronText {
  background: #F5EBDC;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 25px;

  .popisek {
    font-family: AvenirHeavy;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 45px;

    @media (min-width: 900px) {
      width: 420px;
      padding-bottom: 80px;
    }
  }

  .nadpis {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-family: AvenirBlack;
      font-size: 36px;
      color: #000000;
      text-align: center;
      z-index: 10;
      position: relative;
      margin-top: 40px;

      @media (min-width: 900px) {
        font-size: 57px;
        padding-top: 75px;
        margin-top: 0;
      }
    }

    .prouzek {
      width: calc(100% + 20px);
      height: 20px;
      opacity: 0.5;
      background: #FFFFFF;
      position: absolute;
      top: 25px;
      left: -10px;

      @media (min-width: 900px) {
        height: 39px;
        width: calc(100% + 30px);
        left: -15px;
        bottom: 0;
        top: auto;
        opacity: 0.8;
      }
    }
  }

  @media (min-width: 900px) {
    margin-top: 80px;
    padding: 0;
    border-radius: 5px;
    width: calc(100% - 50px);
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
}

.prostorProText {
  h2 {
    font-family: AvenirMedium;
    font-size: 28px;
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  p {
    width: calc(100% - 30px);
    margin: 0 auto;
    font-family: AvenirRoman;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: 20px;
  }

  a {
    text-decoration: underline;
    font-family: AvenirHeavy;
  }

  @media (min-width: 900px) {
    max-width: 950px;
    margin: 0 auto;
  }
}

.infografikaNadpis {
  font-family: AvenirMedium;
  font-size: 28px;
  width: calc(100% - 30px);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 930px;
  text-align: center;
}

.infografika {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  background: url("../img/infografika.png");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: auto;
  overflow: hidden;


  .blok {
    margin: 0 auto;
    margin-bottom: 70px;
    background: white;
    padding-bottom: 20px;
    padding-top: 20px;

    .ilustrace {
      width: calc(100% - 30px);
      position: relative;
      height: auto;
      margin: 0 auto;
      padding-bottom: 70%;
      max-width: 400px;

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      @media (min-width: 900px) {
        order: 2;
        margin: 0;
        padding-bottom: 0;
        height: 300px;
      }
    }

    .popisek {
      text-align: center;

      p {
        width: calc(100% - 30px);
        margin: 0 auto;
        font-size: 21px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #c87231;

        @media (min-width: 900px) {
          margin: 0;
          margin-top: 20px;
        }
      }

      span {
        font-family: AvenirBlack;
        color: #4b2415;
        font-size: 18px;
      }

      a {
        img {
          height: 60px;
          margin-top: 20px;
        }
      }

      @media (min-width: 900px) {
        order: 1;
        text-align: left;
        width: 400px;
      }
    }

    &:last-child {
      margin-bottom: 0;

      .ilustrace {
        padding-bottom: 44%;

        @media (min-width: 900px) {
          padding-bottom: 0;
          height: 250px;
        }
      }
    }

    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 200px);
    }
  }

  @media (min-width: 900px) {
    max-width: 950px;
  }
}



// neni muj kod

@media (min-width: 900px) {
  .infografika .blok {
    overflow:hidden;
  }
  .infografika .blok .ilustrace {
    max-width: 500px;
    height: 375px;
  }
  .popisek {
    width: 300px;
  }
}
