.jumbotronText {
  background: #F5EBDC;
  padding-top: 60px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 25px;

  .popisek {
    font-family: AvenirHeavy;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 45px;

    @media (min-width: 900px) {
      width: 420px;
      padding-bottom: 80px;
    }
  }

  .nadpis {
    position: relative;
    width: fit-content;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-family: AvenirBlack;
      font-size: 36px;
      color: #000000;
      text-align: center;
      z-index: 10;
      position: relative;
      margin-top: 40px;

      @media (min-width: 900px) {
        font-size: 57px;
        padding-top: 75px;
        margin-top: 0;
      }
    }

    .prouzek {
      width: calc(100% + 20px);
      height: 20px;
      opacity: 0.5;
      background: #FFFFFF;
      position: absolute;
      top: 25px;
      left: -10px;

      @media (min-width: 900px) {
        height: 39px;
        width: calc(100% + 30px);
        left: -15px;
        bottom: 0;
        top: auto;
        opacity: 0.8;
      }
    }
  }

  @media (min-width: 900px) {
    margin-top: 80px;
    padding: 0;
    border-radius: 5px;
    width: calc(100% - 50px);
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
}

.prostorProText {
  h2 {
    font-family: AvenirMedium;
    font-size: 28px;
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  p {
    width: calc(100% - 30px);
    margin: 0 auto;
    font-family: AvenirRoman;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 27px;
    margin-top: 20px;
  }

  a {
    text-decoration: underline;
    font-family: AvenirHeavy;
  }

  @media (min-width: 900px) {
    max-width: 950px;
    margin: 0 auto;
  }
}
