<!DOCTYPE html>
<html>
  {% include art.html %}
  {% include head.html %}

  <body {% if page.url == "/" %}class="homepage"{% endif %} {% if page.kontakt == 1 %}class="kontaktBody"{% endif %}>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV2NJPD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include eshopBanner.html %}

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
